extends layout

block append extrascript
  script(src='/javascripts/lib/jquery.suggest.js')
  script(src='http://maps.google.com/maps/api/js?sensor=true')
  script(src='/javascripts/lib/gmaps.js')
  script#J_map_alert_tpl(type='cache/tpl')
    div#J_map_alert.reveal-modal.medium
      h3 Geolocation failed!
      p
      a.close-reveal-modal &#215;

block content
  - var riddingName = '传说中的川藏线', User = User||{}
  ul.breadcrumbs
    li
      a(href='/') #{User.name}的骑行活动
    li
      span #{riddingName}
  div.columns.side-column
    if(!User.name)
      div.panel.secondary.radius
        h5 活动名称：
        span #{riddingName}
      div.panel.secondary.radius
        h5 行程：
        span 总距离：2099757
          | 起点： 中国四川省成都市青羊区人民东路20号-94号
          | 终点： 中国西藏自治区拉萨市城关区江苏路22号 邮政编码： 850000
      div.panel.secondary.radius
        h5 成员：
        ul.team-member
          li
            a(href='/',title='#{User.name}')
              img(src='http://tp3.sinaimg.cn/1760951922/50/5637592484/1')
              p #{User.name}
    else
      div.panel.secondary.radius.tour-setup
        h5.foundicon-settings 设置活动名称
          input.tour-name(type='text', placeholder='请输入名称')
        h5 设置路线
        div.tour-route
          span 起点：
            span#J_from_position.label.radius.use-position 使用当前位置
          input.tour-from(type='text', placeholder='请输入起点', data-type='from', title='起点')
          span 终点：
            span#J_to_position.label.radius.use-position 使用当前位置
          input.tour-to(type='text', placeholder='请输入终点', data-type='to', title='终点')
          a#J_generate_route.success.button 生成路线
        h5.foundicon-plus 邀请朋友
          input.invite-friend(type='text', placeholder='请输入用户名')
          a.success.button 邀请
  div#J_map.main-column.panel

